table {
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}
#hst_reports th, #hst_reports td {
    border-right:1px solid #000;
    border-bottom: 1px solid #000;  
    width: auto;    
    padding: 10px;
}